.ipynb_checkpoints
__pycache__
*.pth
*.pt
*.pkl
*.png
*.mat
*.pdf
supp_notebooks
checkpoints
variants
data/BSDS300/images/test
data/BSDS300/images/test68
data/BSDS300/images/train
data/BSDS300/images/trainZhang